/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#concurrenceB:hover {
    -fx-background-color:   #565a5c;
}

#manegementB:hover {
    -fx-background-color:   #565a5c;

}

#concurrenceB:pressed {
    -fx-background-color:   #565a5c;
}

#manegementB:pressed {
    -fx-background-color:   #565a5c;
}